DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

PREFIX=!

COMPLETED_ORDERS_CHANNEL_ID=
FEEDBACK_CHANNEL_ID=
SERVICES_CHANNEL_ID=
CREATE_ORDER_CHANNEL_ID=

SERVICES_CHANNEL_LABEL=Explore all services:
CREATE_ORDER_CHANNEL_LABEL=Start a new order:

ORDER_COMPLETE_TOP_IMAGE_URL=
FEEDBACK_BANNER_URL=

COMPLETE_ALLOWED_ROLES=worker,support,admin,manager,founder,owner,administration
DELETE_ALLOWED_ROLES=support,administration,founder,owner,admin,manager
