DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

PREFIX=!

COMPLETED_ORDERS_CHANNEL_ID=
FEEDBACK_CHANNEL_ID=
SERVICES_CHANNEL_ID=
CREATE_ORDER_CHANNEL_ID=
PRICE_LIST_CHANNEL_ID=1488969938210128134

SERVICES_CHANNEL_LABEL=Explore all services:
CREATE_ORDER_CHANNEL_LABEL=Start a new order:
PRICE_LIST_LABEL=Price List

ORDER_COMPLETE_TOP_IMAGE_URL=
FEEDBACK_BANNER_URL=
SYTHE_VOUCHES_THREAD_URL=
SYTHE_VOUCHES_THREAD_TITLE=Grindora Vouches | OSRS Services | Trusted & Fast
SYTHE_VOUCHES_CHANNEL_ID=
SYTHE_VOUCHES_LOGO_URL=
SYTHE_VOUCHES_BANNER_URL=

SYTHE_EMAIL_SYNC_ENABLED=false
SYTHE_EMAIL_SYNC_INTERVAL_MS=300000
SYTHE_SYNC_ALLOWED_ROLES=support,administration,founder,owner,admin,manager

GMAIL_USER_EMAIL=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=

COMPLETE_ALLOWED_ROLES=worker,support,admin,manager,founder,owner,administration
DELETE_ALLOWED_ROLES=support,administration,founder,owner,admin,manager
