DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

PREFIX=!

COMPLETED_ORDERS_CHANNEL_ID=
FEEDBACK_CHANNEL_ID=
SERVICES_CHANNEL_ID=
CREATE_ORDER_CHANNEL_ID=

SERVICES_CHANNEL_LABEL=Explore all services:
CREATE_ORDER_CHANNEL_LABEL=Start a new order:

ORDER_COMPLETE_TOP_IMAGE_URL=
FEEDBACK_VOUCHES_URL=

COMPLETE_ALLOWED_ROLES=worker,support,admin,manager,founder,owner,administration
DELETE_ALLOWED_ROLES=support,administration,founder,owner,admin,manager
SYTHE_SYNC_ALLOWED_ROLES=support,administration,founder,owner,admin,manager

SYTHE_SYNC_ENABLED=true
SYTHE_VOUCHES_THREAD_URL=https://www.sythe.org/threads/grindora-vouches-osrs-services-trusted-fast/
SYTHE_VOUCHES_CHANNEL_ID=
SYTHE_BROWSER_WS_ENDPOINT=
SYTHE_USE_LOCAL_BROWSER=false
SYTHE_VOUCHES_LOGO_URL=
SYTHE_VOUCHES_BANNER_URL=
SYTHE_SYNC_INTERVAL_MS=300000
SYTHE_POST_SEND_DELAY_MS=1200
SYTHE_BACKFILL_LIMIT=0
SYTHE_INCREMENTAL_PAGE_SCAN_LIMIT=25
SYTHE_SKIP_THREAD_STARTER=true
